<!-- <h1>this is navbar</h1> -->
<mat-toolbar color="accent">
    <a
    routerLink="/" 
    mat-icon-button class="example-icon" 
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
    </a>

    <span>Examportal</span>
    <span class="example-spacer"></span>

    <a 
    [routerLink]="'/login'"
    mat-icon-button class="example-icon favorite-icon" 
    aria-label="Example icon-button with heart icon">
      Login
    </a>

    <a
    [routerLink]="'/signup'"
     mat-icon-button class="example-icon favorite-icon mr20 ml20" 
    aria-label="Example icon-button with heart icon">
      Register
    </a>
  </mat-toolbar>
